
<footer class="pie_pagina">
  <hr class="hr">

  <div class="grupo_1 container">
    <div class="row">
      <div class="box1 col-sm-4 col-md-3">
        <figure>
          <img src="../../../assets/img/logo.png" alt="logo" class="logo">
        </figure>
      </div>

      <div class="box2 col-sm-4 col-md-3">
        <h5><b><u>SOBRE NOSOTROS</u></b></h5>
        <p>Información corporativa</p>
        <p>Preguntas frecuentes</p>
        <p>Centro de ayuda</p>
        <p>Empleo</p>
      </div>


      <div class="box3 col-sm-4 col-md-3">
        <h5><b><u>INFORMACIÓN LEGAL</u></b></h5>
        <p>Configuración de cookies</p>
        <p>Términos y Condiciones</p>
        <p>Política de privacidad</p>
        <p>Avisos legales</p>
      </div>

      <div class="box4 col-sm-12 col-md-3">
        <h5 class="text-center"><b><u>SÍGUENOS</u></b></h5>
        <div class="red-social">
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-facebook-square"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="grupo-2 col-12">
    <p class="m-0">&copy; 2021 <b>BOOMBLY</b> - Todos los derechos reservados.</p>
  </div>
</footer>



