<footer class="pie_pagina">

  <div class="grupo_1">

    <div class="box">
      <figure>
        <img src="" alt="logo">
      </figure>
    </div>

    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Información corporativa</p>
      <p>Preguntas frecuentes</p>
      <p>Centro de ayuda</p>
      <p>Empleo</p>
    </div>


    <div class="box">
      <h2>INFORMACIÓN LEGAL</h2>
      <p>Configuración de cookies</p>
      <p>Términos y Condiciones</p>
      <p>Política de privacidad</p>
      <p>Avisos legales</p>
    </div>

    <div class="box">
      <h2>SÍGUENOS</h2>
    </div>
      <div class="red-social">
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-facebook-square"></a>
      </div>
  </div>

  <div class="grupo-2">
    <p>&copy; 2021 <b>BOOMBLY</b> - Todos los Derechos Reservados.</p>

  </div>
</footer>



