<footer class="pie_pagina">

  <div class="grupo_1 container">
    <div class="row">
    <div class="box col-3">
      <figure>
        <img src="../../../assets/img/logo.png" alt="logo" class="logo">
      </figure>
    </div>

    <div class="box col-3">
      <h5><b>SOBRE NOSOTROS</b></h5>
      <p>Información corporativa</p>
      <p>Preguntas frecuentes</p>
      <p>Centro de ayuda</p>
      <p>Empleo</p>
    </div>


    <div class="box col-3">
      <h5><b>INFORMACIÓN LEGAL</b></h5>
      <p>Configuración de cookies</p>
      <p>Términos y Condiciones</p>
      <p>Política de privacidad</p>
      <p>Avisos legales</p>
    </div>

    <div class="box col-3 text-center">
      <h5><b>SÍGUENOS</b></h5>
      <div class="red-social">
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-facebook-square"></a>
      </div>
    </div>
  </div>
  </div>

  <div class="grupo-2">
    <p>&copy; 2021 <b>BOOMBLY</b> - Todos los Derechos Reservados.</p>

  </div>
</footer>



