<header>
  <div class="container-fluid menu">
    <div class="row">
      <div class="col-4 col-sm-4 text-center">
        <figure>
          <img src="../../../assets/img/logo2.png" alt="logo2" class="logo2">
        </figure>
      </div>

      <div class="col-8 col-sm-4">
        <div class="input-group flex-nowrap">
          <input type="search" class="form-control buscador" placeholder="Buscar">
          <span class="input-group-text fas fa-search" id="addon-wrapping"></span>
        </div>
      </div>


      <div class="col col-sm-4">
      </div>

      <hr class="hr">
    </div>
  </div>
</header>
