<header>
  <div>
    <div class="navColor">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link nav_item peli active" href="#">PELÍCULAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_item serie" href="/src/app/series/series.component.html">SERIES</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <input class="buscador" type="search" placeholder="Buscar" aria-live="polite">
  </div>

</header>
