/*HEADER*/

.menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  background-color: black;
  z-index: 9999;
}


.logo2 {
  width: 10rem;
  height: 2rem;
}


@media (max-width: 530px) {
  .logo2 {
    width: 6rem;
  }
}


@media (max-width: 360px) {
  .logo2 {
    width: 5rem;
    height: 1.5rem;
  }
}


.buscador {
    background-color: rgb(14, 13, 13);
    color: rgba(0,0,0,.87);
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    border-color: black;
}


@media (max-width: 575px) {
 .buscador {
   padding-right: 2rem;
 }
}


.form-control:focus{
  box-shadow: none;
  border-color: grey;
}


.fa-star {
  font-size: 1.5rem;
  margin-right: 0.6rem;
}


@media (max-width: 750px) {
  .fa-star {
    font-size: 1rem;
  }
}


.populares {
  background-color: #f38b18;
  height: 2rem;
  color:black;
  width: 14rem;
  padding-bottom: 1.7rem;
  padding-top: 0.1rem;
}


@media (max-width: 750px) {
  .populares {
    width: 10rem;
    font-size: 14px;
  }
}


@media (max-width: 360px) {
  .populares {
    width: 10rem;
    font-size: 13px;
  }
}


.hr {
  color: white;
  margin-top: 0.5rem;
}

/*FIN HEADER*/


