<div class="container-fluid home">
  <div>
    <h5 class="pel"><u>PELÍCULAS</u></h5>
  </div>
</div>


<div (click)="showPopularity()" class="btn-group">
  <a href="#" class="btn btn-primary populares">
    <span class="fas fa-star"></span>Más populares
  </a>
</div>



<div class="row container-fluid">
  <div *ngFor="let character of characters.results" class="card peliculas text-center">

    <img src="https://image.tmdb.org/t/p/w300{{character.poster_path}}" class="card-img-top" alt="...">
    <div class="card-body" style="background-color: black;">
      <h5 class="card-title">{{character.original_title}}</h5>
      <a [routerLink]="['details', character.id]" class="btn btn-primary ver-mas">Ver más</a>
    </div>
  </div>
</div>

<!-- POPULARES -->
<ng-container *ngIf="popular">

  <h1 class="pelis-populares">PELÍCULAS POPULARES:</h1>

  <div class="row container-fluid">
    <div *ngFor="let character of characters.results" class="card peliculas text-center">

      <div *ngIf="character.popularity >= '4000' ">
        <img src="https://image.tmdb.org/t/p/w300{{character.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{character.original_title}}</h5>
          <a [routerLink]="['details', character.id]" class="btn btn-primary ver-mas">Ver más</a>
        </div>
      </div>

    </div>
  </div>

  </ng-container>
  <!-- END POPULARES -->


