
.home {
  margin-top: 11rem;
  margin-bottom: 3.5rem;
}


.pel {
  color: #f38b18;
  margin-left: 3.7rem;
  font-size: 2rem;
  opacity: 0.7;
  letter-spacing: 0.2rem;
}


@media (max-width: 420px) {
  .pel {
    font-size: 1.1rem;
  }
}


@media (max-width: 575px) {
  .pel {
    font-size: 1.3rem;
    letter-spacing: 0rem;
  }
}


.populares {
  background-color: #f38b18;
  height: 2rem;
  color:black;
  width: 14rem;
  padding-bottom: 1.7rem;
  padding-top: 0.1rem;
  margin-bottom: 3rem;
  margin-left: 4.5rem;
}


@media (max-width: 750px) {
  .populares {
    width: 10rem;
    font-size: 14px;
  }
}


@media (max-width: 360px) {
  .populares {
    width: 10rem;
    font-size: 13px;
  }
}


.fa-star {
  font-size: 1.5rem;
  margin-right: 0.6rem;
}


.peliculas {
  width: 19rem;
  color:white;
  background-color: black;
  margin-left: 3rem;
  padding-right: 0;
}


.ver-mas {
  background-color: #f5a64c;
  color: black;
}


.pelis-populares {
  color: white;
  margin-left: 4.5rem;
  text-decoration: underline;
  margin-top: 6rem;
  margin-bottom: 3rem;
}


.card-body {
  background-color: black;
}


