<div class="container-fluid home">
  <div>
    <h5 class="pel"><u>PELÍCULAS</u></h5>
  </div>

    <div>
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Género:</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Acción</a></li>
          <li><a class="dropdown-item" href="#">Aventura</a></li>
          <li><a class="dropdown-item" href="#">Fantasía</a></li>
        </ul>
      </div>
    </div>
</div>


<div class="row container-fluid">
  <div *ngFor="let character of characters.results" class="card peliculas text-center">
  <!-- <div *ngIf="character.top" style="background-color: #f38b18; color: black; height: 2rem; width: 100%;"><b>TOP</b>
  </div> -->

    <img src="https://image.tmdb.org/t/p/w300{{character.poster_path}}" class="card-img-top" alt="...">
    <div class="card-body" style="background-color: black;">
      <h5 class="card-title">{{character.original_title}}</h5>
      <a routerLink= "details" class="btn btn-primary ver-mas">Ver más</a>
    </div>
  </div>
</div>




