*{
  color: antiquewhite;
}


.details {
  padding-top: 12rem;
  background-color: rgb(49, 49, 49);
  padding-bottom: 7rem;

}

.imagen {
  width: 100%;

}

.votos {
  color: #f38b18;
  font-weight: bold;
  text-decoration: underline;
}


.fa-star {
  padding-left: 0.5rem;
}


.fa-star:hover {
  color: #f38b18;
}


.fa-star:focus {
  color: #f38b18;
}


.numero_votos {
  margin-left: 3rem;
  background-color: #f38b18;
  padding: 0.5rem;
  color:black;

}


