<div class="container details">
  <div class="row">
    <div class="col-6 col-sm-6 col-md-6">
      <div>
        <img src="" alt="imagen de cada película">
      </div>
    </div>


    <div class="col-6 col-sm-6 col-md-6">
      <h2 class="título"><b>TÍTULO</b></h2>
      <p><b>Título original</b></p>
      <p><b><u>Género:</u></b></p>
      <hr>
      <div>
        <span class="votos">VOTAR:</span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
        <span class="numero_votos">Número de votos</span>
      </div>
    </div>
  </div>
  <hr>

  <div>
    <h6><b><u>SINOPSIS:</u></b></h6>
    <p>Descripción</p>
  </div>


</div>
